@import url("https://fonts.googleapis.com/css2?family=League+Spartan&display=swap");

:root {
  /* Theme 1 */

  /* Backgrounds */
  --Theme-1-main-background: hsl(222, 26%, 31%);
  --Theme-1-toggle-keypad-background: hsl(223, 31%, 20%);
  --Theme-1-screen-background: hsl(224, 36%, 15%);

  /* Keys */
  --Theme-1-key-background: hsl(225, 21%, 49%);
  --Theme-1-key-shadow: hsl(224, 28%, 35%);

  --Theme-1-key-background-toggle: hsl(6, 63%, 50%);
  --Theme-1-key-shadow-toggle: hsl(6, 70%, 34%);

  --Theme-1-Light-orange-key-background: hsl(30, 25%, 89%);
  --Theme-1-orange-key-shadow: hsl(28, 16%, 65%);

  /* Text */
  --Theme-1-numbers-text: hsl(221, 14%, 31%);
  --Theme-1-header-text: hsl(0, 0%, 100%);
  --Theme-1-del-reset-text: hsl(0, 0%, 100%);
  --Theme-1-equal-text: hsl(0, 0%, 100%);

  /* Theme 2 */
  /* Backgrounds */
  --Theme-2-main-background: hsl(0, 0%, 90%);
  --Theme-2-toggle-keypad-background: hsl(0, 5%, 81%);
  --Theme-2-screen-background: hsl(0, 0%, 93%);

  /* Keys */
  --Theme-2-key-background: hsl(185, 42%, 37%);
  --Theme-2-key-shadow: hsl(185, 58%, 25%);

  --Theme-2-key-background-toggle: hsl(25, 98%, 40%);
  --Theme-2-key-shadow-toggle: hsl(25, 99%, 27%);

  --Theme-2-Light-orange-key-background: hsl(45, 7%, 89%);
  --Theme-2-orange-key-shadow: hsl(35, 11%, 61%);

  /* Text */
  --Theme-2-numbers-text: hsl(60, 10%, 19%);
  --Theme-2-header-text: hsl(60, 10%, 19%);
  --Theme-2-del-reset-text: hsl(0, 0%, 100%);
  --Theme-2-equal-text: hsl(0, 0%, 100%);

  /* Theme 3 */
  /* Backgrounds */
  --Theme-3-main-background: hsl(268, 75%, 9%);
  --Theme-3-toggle-keypad-background: hsl(268, 71%, 12%);
  --Theme-3-screen-background: hsl(268, 71%, 12%);

  /* Keys */
  --Theme-3-key-background: hsl(281, 89%, 26%);
  --Theme-3-key-shadow: hsl(285, 91%, 52%);

  --Theme-3-key-background-toggle: hsl(176, 100%, 44%);
  --Theme-3-key-shadow-toggle: hsl(177, 92%, 70%);

  --Theme-3-Light-orange-key-background: hsl(268, 47%, 21%);
  --Theme-3-orange-key-shadow: hsl(290, 70%, 36%);

  /* Text */
  --Theme-3-numbers-text: hsl(52, 100%, 62%);
  --Theme-3-header-text: hsl(52, 100%, 62%);
  --Theme-3-equal-text: hsl(198, 20%, 13%);
  --Theme-3-del-reset-text: hsl(0, 0%, 100%);
}


p {
  margin: 0;
}

.App {  
    margin: auto;
    width: 350px;
    margin-top: 20px;
    padding: 30px 20px;
}

.calculator {
  max-width: 300px;
  margin: auto;
  font-family: "League Spartan", sans-serif;
}

.calculator-header {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
  align-items: center;
}

.calculator-theme {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  font-size: 10px;
  font-weight: 700;
  align-items: center;
  letter-spacing: 1.5px;
}

.calculator-theme-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.calculator-theme-num {
  letter-spacing: 6px;
  margin-left: 5px;
}

.calculator-theme-btns {
  width: 60px;
  height: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.calculator-theme-btn {
  border: none;
  border-radius: 100px;
  width: 12px;
  height: 12px;
  cursor: pointer;
  opacity: 0;
}

.calculator-sum {
  box-sizing: border-box;
  width: 100%;
  height: 60px;
  margin-bottom: 14px;
  border-radius: 5px;
  font-size: 32px;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  line-height: 66px;
  direction: rtl;
  padding: 0 20px;
}

.all-buttons-container {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
}

.small-buttons-container {
  display: grid;
  grid: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
  gap: 8px;
  padding: 14px 14px 8px;
  border-radius: 5px;
}

.buttom-btns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 9px;
  margin: 0 14px 14px;
}

.btn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  font-size: 24px;
  font-weight: 700;
  font-family: "League Spartan", sans-serif;
  border-radius: 3px;
  border: none;
  margin-bottom: 2px;
}

.big-btn {
  width: 50%;
  font-size: 16px;
}

.calculator-theme-btn-visible {
  opacity: 1;
}